{% extends 'base.html' %}
{% block title %}Home{%endblock title%}
{% block body %}

<head>
  <meta name="viewport"  content="with=device-width,initial-scale=1.0">
      <title>Demand Supply website</title>
      <link rel="stylesheet" href="static\style.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">

</head>

<body>
  <section class="header">
      
      <div class="text-box">
          <h1> World's 2nd Largest Steel Producer</h1>
          <p>
              India is a country of 2nd largest steel production.<br>To know more specificly about this easily access this website.
          </p>
          <a href="" class="hero-btn">Visit our page to know More</a>
      </div>
  </section>
  <!-----Course-->
  <section class="recentNews">
    <div class="container">
      <h2 class="news-title">Recent News</h2>
      <div class="row">
        <div class="ct-blog col-sm-6 col-md-4">
          <div class="inner">
            <div class="fauxcrop">
              <a href="#"><img alt="News Entry" src="static\images\img6.png"></a>
            </div>
            <div class="ct-blog-content">
              <div class="ct-blog-date">
                <span>March</span><strong>1</strong>
              </div>
              <h3 class="ct-blog-header">
                Combating Inflation: Domestic industry to get cheaper steel at the cost of export as govt levies new duties
              </h3>
            </div>
          </div>
        </div>
        <div class="ct-blog col-sm-6 col-md-4">
          <div class="inner">
            <div class="fauxcrop">
              <a href="#"><img alt="News Entry" src="static\images\img5.png"></a>
            </div>
            <div class="ct-blog-content">
              <div class="ct-blog-date">
                <span>February</span><strong>27</strong>
              </div>
              <h3 class="ct-blog-header">
                Imported stainless steel is killing Indian MSMEs: Jindal Stainless MD
              </h3>
            </div>
          </div>
        </div>
        <div class="ct-blog col-sm-6 col-md-4">
          <div class="inner">
            <div class="fauxcrop">
              <a href="#"><img alt="News Entry" src="static\images\img4.png"></a>
            </div>
            <div class="ct-blog-content">
              <div class="ct-blog-date">
                <span>February</span><strong>25</strong>
              </div>
              <h3 class="ct-blog-header">
                India-Southeast Asia will worsen emission profile on rising crude steel production
              </h3>
            </div>
          </div>
        </div>
        <div class="ct-blog col-sm-6 col-md-4">
          <div class="inner">
            <div class="fauxcrop">
              <a href="#"><img alt="News Entry" src="static\images\img3.png"></a>
            </div>
            <div class="ct-blog-content">
              <div class="ct-blog-date">
                <span>February</span><strong>23</strong>
              </div>
              <h3 class="ct-blog-header">
                Tata steel to grow organically, new acquisitions unlikely this decade: MD
              </h3>
            </div>
          </div>
        </div>
        <div class="ct-blog col-sm-6 col-md-4">
          <div class="inner">
            <div class="fauxcrop">
              <a href="#"><img alt="News Entry" src="static\images\img2.png"></a>
            </div>
            <div class="ct-blog-content">
              <div class="ct-blog-date">
                <span>February</span><strong>20</strong>
              </div>
              <h3 class="ct-blog-header">
                NMDC shareholders, creditors to discuss Nagarnar Steel Plant demerger on Tuesday
              </h3>
            </div>
          </div>
        </div>
        <div class="ct-blog col-sm-6 col-md-4">
          <div class="inner">
            <div class="fauxcrop">
              <a href="#"><img alt="News Entry" src="static\images\img1.png"></a>
            </div>
            <div class="ct-blog-content">
              <div class="ct-blog-date">
                <span>February</span><strong>16</strong>
              </div>
              <h3 class="ct-blog-header">
                Export levy, domestic surfeit can dent bottom lines of steelmakersh3
            </div>
          </div>
        </div>
      </div>
      <div class="btn-news btn-contests">
        <a href="#">VIEW ALL NEWS</a>
      </div>
    </div>
  </section>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <section class="production">
      <h1>
          Types Of Production In India
      </h1>
      <p>
          There are many kinds of Steel Products Across India.
      </p>
      <div class="row">
          <div class="production-col">
              <h3>Flat Products</h3>
              <p>
                  SAIL(Bokaro Steel Plant) produces flat product like sheets, slabs ,coils etc.
              </p>
          </div>
          <div class="production-col">
              <h3>Long Products</h3>
              <p>
                  SAIL(Bhilai Steel Plant) produces Long product like tmts,rails etc.
              </p>
          </div>
          <div class="production-col">
              <h3>Long & Finished Productions</h3>
              <p>
                  SAIL(Durgapur Steel Plant) produces tmts, semi finished steel products etc.
              </p>
          </div>
          <div class="production-col">
              <h3>Advanced Flat Products</h3>
              <p>
                  SAIL(Rourkela Steel Plant) produces flat product like HR plates ,HR coils SW pipes ERW pipes etc.
              </p>
          </div>
      </div>
  </section>
  <section class="steelplants">
      <h1>Steel Plants all over India</h1>
      <p>all the steel plants on the inside production are as follows.
      </p>
      <div class="row">
          <div class="steel-col">
              <img src="static\images\bokaro.png">
              <div class="layer">
                  <h3>Bokaro Steel Limited</h3>
              </div>
          </div>
          <div class="steel-col">
              <img src="static\images\bhilai.png">
              <div class="layer">
                  <h3>Bhilai Steel Plant</h3>
              </div>
          </div>
          <div class="steel-col">
              <img src="static\images\rorkela.png">
              <div class="layer">
                  <h3>Rourkela Steel Plant</h3>
              </div>
          </div>
      </div>
  </section>
  <section class="facilities">
    <h1>STEEL PRODUCTION IN INIDA</h1>
    <p> As of October 2021, India was the world's second-largest producer of crude steel, with an output of 9.8 MT. In FY22 (till January), the production of crude steel and finished steel stood at 98.39 MT and 92.82 MT, respectively. In FY22, crude steel production in India is estimated to increase by 18%, to reach 120 million tonnes, driven by rising demand from customers. The growth in the Indian steel sector has been driven by the domestic availability of raw materials such as iron ore and cost-effective labour. Consequently, the steel sector has been a major contributor to India's manufacturing output.

        The Indian steel industry is modern, with state-of-the-art steel mills. It has always strived for continuous modernisation of older plants and up-gradation to higher energy efficiency levels.
        
        The Indian steel industry is classified into three categories - major producers, main producers and secondary producers.</p>
    <div class="column">
        <div class="facilities-col">
            <img src="static\images\electricity.png">
            <h1>STATEWISE PRODUCTION</h1>   
            <p>India with the statewise steel production.
            </p>         
        </div>
    </div>
    <div class="facilities-col">
        <img src="static\images\hospital .png">
        <img src="static\images\new.png">
        <h1>WORLDWIDE CRUDE STEEL PRODUCTION</h1>   
        <p></p>         
    </div>
 
</section>
<section class="developers">
    <h1>Our Developers</h1>
    <p>The developers of this website using programming and ML models.</p>
    <div class="row">
        <div class="developers-col">
            <img src="static\images\user1.jpg" >
            <div>
                <p>Btech Computer Science and Engineering<br>
                    Bhilai Insititute of Technlogy Durg,Chattisgarh<br>
                    Google Cloud ,Azure and Postman Api community Member
                </p>
                <h3>NAMAN SINGH RAJ</h3>
                <i class="fa-brands fa-facebook"></i>
            </div>
        </div>
        <div class="developers-col">
            <img src="static\images\user4.png" >
            <div>
                <p>Btech Computer Science and Engineering<br>
                    C V Raman Global University, Bhuweneshwar, Odisha<br>
                    Alpha MLSA, Project Lead, GDSC CVRGU
                   
                </p>
                <h3>AMISHA KIRTI</h3>
            </div>
        </div>
        <div class="developers-col">
            <img src="static\images\user2.png" >
            <div>
                <p>Btech Computer Science and Engineering<br>
                    Birla Insititute Of Technology Mesra<br>
                    Competitive Programmer , React Enthusiast
                    
                </p>
                <h3>NIDHI PRIYA</h3>
            </div>
        </div>
        <div class="developers-col">
            <img src="static\images\user3.png" >
            <div>
                <p>Btech Electronics And Communication<br>
                    Birla Insititute Of Technology Mesra ,Ranchi<br>
                    Coding Ninjas Active Community Member, ML Models Enthusiast
                </p>
                <h3>PRAGYA KUMARI</h3>
            </div>
        </div>
        <div class="developers-col">
            <img src="static\images\user5.png" >
            <div>
                <p>Btech Computer Science and Engineering<br>
                    Vellore Insititute Of Technology ,Chennai<br>
                    Java, C/C++ and PHP Enthusiast
                </p>
                <h3>KASHISH</h3>
            </div>
        </div>
    </div>
</section>
<section class="cta">
  <h1>To know more about us and this fucntional program Click the button below</h1>
   <a href="{% url 'cintactus' %}" class="hero-btn">Contact Us</a>
</section>
<script>
 var navLinks = document.getElementById("navLinks");
 function showMenu(){
     navLinks.style.right = "0";

 }
 function hideMenu(){
     navLinks.style.right ="-200px";
    
 }

</script>
<script>
jQuery.fn.liScroll = function(settings) {
settings = jQuery.extend({
travelocity: 0.03
}, settings);   
return this.each(function(){
    var $strip = jQuery(this);
    $strip.addClass("newsticker")
    var stripHeight = 1;
    $strip.find("li").each(function(i){
      stripHeight += jQuery(this, i).outerHeight(true); // thanks to Michael Haszprunar and Fabien Volpi
    });
    var $mask = $strip.wrap("<div class='mask'></div>");
    var $tickercontainer = $strip.parent().wrap("<div class='tickercontainer'></div>");               
    var containerHeight = $strip.parent().parent().height();  //a.k.a. 'mask' width   
    $strip.height(stripHeight);     
    var totalTravel = stripHeight;
    var defTiming = totalTravel/settings.travelocity; // thanks to Scott Waye   
    function scrollnews(spazio, tempo){
    $strip.animate({top: '-='+ spazio}, tempo, "linear", function(){$strip.css("top", containerHeight); scrollnews(totalTravel, defTiming);});
    }
    scrollnews(totalTravel, defTiming);       
    $strip.hover(function(){
      jQuery(this).stop();
    },
    function(){
      var offset = jQuery(this).offset();
      var residualSpace = offset.top + stripHeight;
      var residualTime = residualSpace/settings.travelocity;
      scrollnews(residualSpace, residualTime);
    });     
}); 
};

$(function(){
$("ul#ticker01").liScroll();
});
</script>

{%endblock body%}
